.main {
	position: fixed;
	/* bottom: 0; */
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 100%;
	padding: 5px;
}

.container {
	display: flex;
	justify-content: center;
	gap: 120px;
	align-items: center;
	padding: 10px;

}


.icons {
	transform: scale(2);
	color: black;
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
}