@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 100%;
    min-height: 100%;
    background-color: hsl(208, 100%, 100%);
    padding: 20px;
    border-radius: 15px;
    margin-inline: auto;
    text-align: left;
}

.header {
    display: flex;
    flex-direction: column;
}

.close-btn {
    width: 30px;
    height: 30px;
    border-radius: 15%;
    margin-left: auto;

}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container .first-heading,
.container .second-heading {
    margin-block: 10px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
}

.list-item:hover {
    background-color: hsl(208, 100%, 97%);
    border-radius: 5px;
}

.list-item:active {
    background-color: hsl(208, 100%, 90%);
    border-radius: 5px;
}

.container .paragraph-text {
    color: hsl(0, 1%, 60%);
}

.container .arrow-icon {
    width: 20px;
}

.saved-icon {
    display: flex;
    align-items: center;
    gap: 10px
}

.saved-icon .img {
    width: 40px;
    background-color: hsl(0, 2%, 95%);
    padding: 10px;
    border-radius: 8px;
}

/*My Books*/
.book {
    display: flex;
    align-items: start;
    justify-content: left;
    gap: 15px;
    margin: 15px 0;
    width: 100%;
    height: auto;
    padding: 10px;
}

.book:hover {
    background-color: hsl(208, 100%, 97%);
    border-radius: 5px;
}

.book:active {
    background-color: hsl(208, 100%, 90%);
    border-radius: 5px;
}