* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerContainer {
    margin-bottom: 20px;

}

.profileImg {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileImg h3 {
    font-size: 2rem;
}

.heading {
    margin-bottom: 10px;
}